@font-face {
    font-family: norse-bold;
    src: url(./Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.figure {
    width: 30%;
    background-image: url('https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 70%;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);   
}

.logo-div > img {
    width: 25%;
}

.form {
    width: 70%;
    height: 100vh;
    background-color: rgba(249, 248, 245, 0.949);
}

h1 {
    color: white;
    font-family: norse-bold;
    font-size: 74px;
    font-weight: bold;
}

.column {
    display: flex;
    flex-direction: column;
}

.form-container, h2 {
    display: flex;
    gap: 5%;
    padding: 0 5%; 
}

h2 {
    margin-top: 7.5%;
    margin-bottom: 20px;
    font-size: 28px;
}

button {
    background-color: #596D48;
    padding: 12px 40px;
    font-weight: 900;
    border-radius: 8px;
    color: white;
    border: none;
    max-width: 180px;
    margin-bottom: 2.5%;
    cursor: pointer;
}

input {
    width: 12.5rem;
    border: #E5E7EB thin solid;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 15%;
    outline: none;
}

input:focus {
    box-shadow: 0px 3px 3px gray;
    border-color: #0047AB;
}

.white-bck {
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 10px gainsboro;
    margin-bottom: 30px;
}

.par {
    font-size: 24px;
    font-weight: 550;
    padding: 0 5%;
    margin-top: 5%;
}

.par p {
    margin-bottom: 5%;
}

label {
    color: gray;
}

.btn {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

span {
    font-size: 14px;
}

a {
    color: #596D48;
    text-decoration: none;
    font-weight: 600;
}

input[type='password'] {
    margin-bottom: 15%;
}

.warning {
    margin-bottom: 30px;
    display: none;
    color: red;
}


input:invalid {
    border-color: red;
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .figure {
        width: 100%;
        height: 10%;
    }
    .logo-div {
        margin-top: 5%;
    }
    .form {
        width: 100%;
        height: 90%;
    }
    input {
        height: 40px;
        margin-bottom: 5%;
    }
}