@font-face {
    font-family: norse-bold;
    src: url(./Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.figure {
    width: 30%;
    background-image: url('https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 70%;
    align-items: center;
}

.logo-div::before {
    content: '';
    background-color: black;
    opacity: .5;
}

.logo-div > img {
    opacity: 1;
    width: 25%;
}

.form {
    width: 70%;
    height: 100vh;
    background-color: rgba(249, 248, 245, 0.949);
}

h1 {
    color: white;
    font-family: norse-bold;
    font-size: 52px;
    font-weight: bold;
}

form {
    background-color: white;
}

.column {
    display: flex;
    flex-direction: column;
}

.form-container {
    border: 2px solid rebeccapurple;
    display: flex;
    gap: 5%;
    padding: 0 5%;
}

button {
    background-color: #596D48;
    padding: 1.5% 5%;
    font-weight: 900;
    border-radius: 8px;
    color: white;
    border: none;
}

input {
    width: 200px;
    border: #E5E7EB thin solid;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 15%;
}
